@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Your custom variables */
:root {
  --color-primary: #4bdfb5;
  --color-secondary: #ffc107;
  --color-background: #f5deb3;
  --color-background-2:rgb(255, 245, 239);
  --color-text: #000;
  --color-dark-background: #1a202c;
  --color-dark-text: #fff;
  --color-accent-1: #395152;
}

/* Custom card class */
.card {
  background-color: rgb(232, 226, 223);
  padding: 1rem;
  border: #cfcbc7 solid 1px;
  border-radius: 2rem;
  margin-bottom: 1rem;
  width: fit-content;
  min-width: 200px;
  text-align: center;
  justify-content: start;
}
.card:hover {
  background-color: var(--color-background);
  color: var(--color-text);
  border: #fff solid 1px;
  cursor: pointer;
}

/* You can still have body, header, footer styling */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  min-height: 100vh;
}

body.dark {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text);
}

/* Layout styles */
div#root {
  gap: 1rem;
  height: 100%;
  width: 100%;
}

header, footer, aside { 
  padding: 1rem;
}

header, footer, aside {
  background-color: var(--color-background);
  color: var(--color-text);
}

header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.dark, footer.dark, aside.dark {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text);
}

main {
  display: flex;
  flex: 1;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #f6f3ef ;
}

nav .active {
  color: var(--color-primary);
}

li {
  list-style: none;
}

/* Optional dark mode support via media query */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
